body{
    background-color: whitesmoke;
    padding:50px;
    color: #267dd4;
}
h2{
   color: blue;
}
.flex-container{
    background-color: aquamarine;
    border:5px solid blue;
    margin: 30px;
   
   
  
   
}
.flex-items{
           background-color: rgb(233, 255, 196);
            border:2px solid orangered;
            border-radius: 30px;
            padding: 20px;
            margin: 25px;
            font-size: 25px;
            font-weight: bold;
           
}